<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="ponyClicker">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Equestria: Bit Clicker (Angular)</title>

    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.2.2/css/foundation.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/animatecss/3.1.0/animate.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="shortcut icon" href="favicon.ico">

    <script src="//cdn.jsdelivr.net/modernizr/2.8.2/modernizr.min.js"></script>
</head>

<body>
    <div class="wrapper" ng-controller="indexCtrl">
        <div class="navigation contain-to-grid">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#">Equestria: Bit Clicker</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
                </ul>

                <section class="top-bar-section">
                    <ul class="right">
                        <li class="has-dropdown">
                            <a href="#">Marketplace</a>
                            <ul class="dropdown">
                                <li ng-repeat="upgrade in upgrades">
                                    <a href="#" ng-click="buyUpgrade(upgrades.indexOf(upgrade))">
                                        <b>{{upgrade.type}} (+{{upgrade.rate}}):</b> {{upgrade.cost | currency}} Bits 
                                        <span class="label">{{upgrade.total}}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li class="has-dropdown">
                            <a href="#">Characters</a>
                            <ul class="dropdown">
                                <li ng-repeat="character in characters">
                                    <a href="#" ng-click="changeCharacter(character.id)">
                                        {{character.name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li class="has-dropdown">
                            <a href="#" class="alert">Reset</a>
                            <ul class="dropdown">
                                <li><a href="#" ng-click="reset(1)">Marketplace</a></li>
                                <li><a href="#" ng-click="reset(2)">Gold Bits</a></li>
                                <li><a href="#" ng-click="reset(0)">All</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="toggleMute()" ng-bind="muted && 'Unmute' || 'Mute'"></a>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>

        <div class="row">
            <div class="large-12 columns text-center">
                <h1 class="counter">{{count | currency}} Gold Bits</h1>
                <h2 class="tutorial" ng-show="count === 0">(click Twilight Sparkle to begin)</h2>
            </div>
        </div>

        <div class="pony">
            <div class="clickarea" ng-click="incrementCount($event)"></div>
            <div class="effects"></div>
            <img ng-src="assets/img/characters/{{character}}.png">
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/angularjs/1.2.16/angular.min.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.2/js/foundation.min.js"></script>
    <script src="assets/js/app.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-5243796-6');
        ga('send', 'pageview');
    </script>
</body>
</html>