body {
	background: url('../img/background.jpg') no-repeat bottom fixed;
	background-size: cover;
}

.navigation {
	margin-bottom: 2rem;
}

.pony {
	cursor: pointer;
	position: absolute;
	left: 50%;
	bottom: 5%;
	z-index: 99;
}