@font-face {
    font-family: 'Equestria';
    src: url('../font/equestria-webfont.eot');
    src: url('../font/equestria-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/equestria-webfont.woff') format('woff'),
         url('../font/equestria-webfont.ttf') format('truetype'),
         url('../font/equestria-webfont.svg#equestriaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: url('../img/background.jpg') no-repeat bottom fixed;
	background-size: cover;
}

.counter, .tutorial, p {
    font-family: "Equestria", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.counter {
	font-size: 4rem;
}

.navigation {
	margin-bottom: 2rem;
}

.pony {
	cursor: pointer;
	position: absolute;
	left: 50%;
	bottom: 5%;
	z-index: 99;
}

.ugh {
	font-size: 2rem;
	margin: 0;
	position: absolute;
}

.clickarea, .effects {
	height: 100%;
	position: absolute;
	width: 100%;
}
	.clickarea {
		z-index: 2;
	}